services:
  gitlab-webhook-agent:
    build:
      context: ../
      dockerfile: ./docker/Dockerfile
        # limit to 1 cpu core
    deploy:
      resources:
        limits:
          cpus: '1.0'
    environment:
      UVICORN_FORWARDED_ALLOW_IPS: '172.20.5.0/28'
      GITLAB_WEBHOOK_TOKEN: ${GITLAB_WEBHOOK_TOKEN}
      UVICORN_WORKERS: 1
      UVICORN_LOG_LEVEL: trace
      UVICORN_HOST: '0.0.0.0'
      UVICORN_PORT: 8080
    networks:
      - gitlab-webhook-agent-network
    develop:
      watch:
        - path: ../app
          target: /app
          action: sync+restart

  proxy:
    image: nginxinc/nginx-unprivileged:1.29.5 
    ports:
      - "8080:8080"
    networks:
      - gitlab-webhook-agent-network
    configs:
      - source: default.conf
        target: /etc/nginx/conf.d/default.conf
    develop:
      watch:
        - path: ../nginx
          target: /etc/nginx/conf.d/
          action: restart
    ulimits:
      nofile:
        soft: 65536
        hard: 65536
    # limit to 1 cpu core
    deploy:
      resources:
        limits:
          cpus: '1.0'
    healthcheck:
      test: ["CMD", "curl", "-f", "http://localhost:8080/healthz"]
      interval: 30s
      timeout: 10s
      retries: 3

networks:
  gitlab-webhook-agent-network:
    driver: bridge
    # internal: true
    enable_ipv6: false
    attachable: false
    ipam:
      driver: default
      config:
        - subnet: 172.20.5.0/28
          ip_range: 172.20.5.0/28
          gateway: 172.20.5.14

configs:
  default.conf:
    file: ../nginx/default.conf